<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <h1>This is the home page</h1>
  <div>
    <h2>Messages</h2>
    <br />
    <br />
    <% for (let i=0; i < messages.length; i++) { %>
      <div>
        <h3>User: <%= messages[i].user %>
        </h3>
        <p>Text: <%= messages[i].text %>
        </p>
        <p>Date: <% messages[i].added%>
        </p>
      </div>
      <br />
      <br />
      <%} %>
  </div>
</body>

</html>