<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Message Form</title>
</head>

<body>
  <h1>New Message Form</h1>
  <form method="post" action="/new">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="messageText" placeholder="Message">
    <button type="submit">Submit</button>
  </form>
</body>

</html>